<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatix</title>

    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/fontello.css}" type="text/css" rel="stylesheet">

</head>
<body onload="connect()">

<input id="name" type="hidden" th:value="${username}">

<div class="cnt">
    <div class="main-container">

        <div id="activeU" class="active-users-container">
            <div class="active-users-title">
                Active Users
            </div>
            <div class="active-users-area">
                <ul class="active-users-list">

                </ul>
            </div>
        </div>

        <div id="public-chat" class="chat-container">
            <button id="public-chat-btn"
                    onclick="backToPublicChat()"
                    class="hidden">Public</button>
            <div class="chat-title">
                <div>
                    Public Chat
                </div>
            </div>
            <div class="message-area">
                <ul id="message-list">

                </ul>
            </div>
            <div class="input-area">
                <input type="text" id="message-input" placeholder="Type your message">
                <button type="submit" id="button-send" onclick="sendMessage()">Send</button>
            </div>
        </div>

        <div id="privateU" class="private-users-container">
            <div class="private-users-title">
                Private
            </div>
            <div class="private-users-area">
                <ul class="private-users-list">

                </ul>
            </div>
        </div>

        <div style="clear: both;"></div>

    </div>

    <div th:classappend="${isEmailConfirmed == false} ? 'visible' : 'hidden'" id="emailConf">
        <div class="not-confirmed-email-block">
            <p>Your email is not confirmed yet.</p>
            <button type="button" class="ok-button"
                    onclick="document.getElementById('emailConf').classList.replace('visible', 'hidden');">OK</button>
        </div>

        <div class="not-confirmed-email-bg"></div>
    </div>

</div>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script th:src="@{js/message-list.js}"></script>

<script th:src="@{js/chat.js}"></script>

</body>
</html>